.btn-actualizar{
    background-color: rgb(127, 124, 212);
}

.btn-eliminar{
    background-color: rgb(26, 212, 112);
}

.btn-guardar{
    background-color: rgb(255, 84, 255);
}

.btn-pdf{
    background-color: rgb(155, 84, 255);
}